doctype html
html
  head
    title Google maps
  body
    h1 Mapas
    #map
    #legend My First Legend!
    button(onclick="initMap()") Reiniciar Mapa
    link(rel="stylesheet", type="text/css", href="css/estilo.css")
    script(type="application/javascript", src="js/app.js")
    script(src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer)
